<!-- <div class="header">
    <nav> -->
        <!-- Navbar links here -->
    <!-- </nav>
</div>

<section class="product-selection">
    <h1>Select a Product to Start</h1>
    <p>Embark on a Boundless Exploration of Innovation with Our Diverse Range of Products, Elevating Your Journey to
        Unveil New Horizons and Endless Possibilities.</p>

    <div class="card-container">
        <app-insurance-card *ngFor="let product of products" [product]="product"></app-insurance-card>
    </div>
</section> -->