<div class="header">
    <img class="eagleLogo" src="assets/images/eagleLogo.webp" alt="ss">
    <nav>
      <a href="#">Overview</a>
      <a href="#">Features</a>
      <a href="#">Pricing</a>
      <a href="#">About</a>
    </nav>
    <button class="sign-in">Login</button>
  </div>


    <title>Insurance Quote Page</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->


    <section class="quote-section">
        <div class="container">
            <div class="left-content">
                <img src= "assets/images/how-it-work-img.jpg" alt="Professional Woman" class="profile-image">
                <!-- <p class="signature">Alesha Rose</p> -->
            </div>
            <div class="right-content">
                <h1>Get an insurance quote to get started!</h1>
                <!-- <div class="tabs">
                    <button class="tab active">Home</button>
                    <button class="tab">Vehicles</button>
                    <button class="tab">Health</button>
                    <button class="tab">Life</button>
                </div> -->
                <form class="quote-form">
                    <!-- <input type="text" placeholder="Full name" class="form-input" required> -->
                    <!-- <input type="mobilno" placeholder="Enter Mobile No" class="form-input" required> -->
                    <!-- <select class="form-select" required>
                        <option value="" disabled selected>Select type of insurance</option>
                        <option value="home">Home</option>
                        <option value="vehicles">Vehicles</option>
                        <option value="health">Health</option>
                        <option value="life">Life</option>
                    </select> -->
                    <div class="slider-container">
                        <!-- <label for="balance-slider">Limits of Balance:</label> -->
                        <!-- <input type="range" id="balance-slider" min="10000" max="100000" value="70000">
                        <span id="balance-value">$70,000</span> -->
                        <input type="mobilno" placeholder="Enter Mobile No" class="form-input" required>
                    </div>
                    <button type="submit" class="submit-button">Get a OTP Now</button>
                </form>
            </div>
        </div>
    </section>
    <!-- <script src="script.js"></script> -->


