.header {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 1, 0, 0.1);
}

.eagleLogo {
  width: 120px;
  height: auto;
}

.header nav {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.header nav a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s;
}

.header nav a:hover {
  color: #007BFF;
}

.header .sign-in {
  background-color: #00c0ff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.header .sign-in:hover {
  background-color: #008fb3;
}

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

/* Quote Section */
.quote-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #ffffff;
}

.container {
  max-width: 1200px;
  display: flex;
  gap: 20px;
}

/* Left Content */
.left-content {
  flex: 1;
  text-align: center;
  position: relative;
}
.profile-image {
  max-width: 60%;
  border-radius: 10px;
}
// .signature {
//   font-family: 'Brush Script MT', cursive;
//   font-size: 24px;
//   margin-top: 10px;
//   color: #555;
// }

/* Right Content */
.right-content {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.right-content h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Tabs */
.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.tab {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #ffffff;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
}
.tab.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

/* Form */
.quote-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-input, .form-select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}
.slider-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#balance-slider {
  width: 70%;
}
#balance-value {
  font-weight: bold;
}
.submit-button {
  padding: 15px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.submit-button:hover {
  background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
      flex-direction: column;
  }
}
